@use '../variables';

.button {
     padding: 12px;
     font-size: 18px;
     font-weight: bold;
     text-decoration: none;
     text-align: center;
     white-space: nowrap;
     color: #fff;
     background-color: variables.$purple1;

     &:hover {
          background-color: darken(variables.$purple1, 15%);
     }

     @media (max-width: 640px) {
          display: block;
          width: 100%;
     }

     @media (max-width: 1024px) {
          display: flex;
          align-items: center;
     }
}