@use '../variables';

.infos-bar {
     padding: 16px 24px;
     background-color: variables.$textColor;
     display: flex;
     justify-content: space-between;
     margin: 0 60px;

     &__infos {
          display: flex;
          gap: 40px;

          &__item {
               font-size: 14px;
               color: variables.$secondaryTextColor;
               margin-top: 2px;

               b {
                    color: variables.$secondaryTextColor;
                    font-size: 18px;
                    display: block;
                    margin-bottom: 2px;
               }
          }
     }

     @media (max-width: 640px) {
          display: block;

          .infos-bar {
               margin: 0px;
               padding: 15px;

               &__infos {
                    display: block;
                    gap: 0;

                    &__item {
                         margin-bottom: 24px;
                    }
               }
          }

          @media (max-width: 1024px) {
               &__infos {
                    gap: 16px;
               }
          }
     }
}